<div style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; padding: 36px 0;">
  <div style="width: 100%; height: 2px; background-color: darkgray;"></div>
  <div style="display: flex">
    <p><a href="/legal">Legal</a></p>
    <div style="flex-grow: 1"></div>
    <p>Service built by <a href="https://rauten.co.za">George Rautenbach</a></p>
  </div>
</div>