<div class="content">
  <%= render '/layouts/title' do %><%= @title %><% end %>
  <p class="subtitle">Short and sweet - I promise!</p>

  <h3>Public projects</h3>
  <code class="url"><span class="url-method">GET</span>
    <span class="url-domain"><%= @host %></span>/api/loc/<span class="url-provider">gitlab.com</span>/
    <span class="url-user unspace">koel</span>/<span class="url-repo">loculator</span>
  </code>
  <p>Typical response: 200</p> <!-- TODO: update line counts -->
  <pre><code class="lang-json">{
    "vcs_url": "https://gitlab.com/koel/loculator",
    "cached_commit": "484ea7d431637d5d374e8261d59f222fc7cfd3e4",
    "results":
    {
        "total_lines": 249,
        "blank_lines": 58,
        "total_files": 6,
        "non_text_files": 0
    }
}</code></pre>

  <p>The API also works with Bitbucket, Github, and custom git providers (like self-hosted Gitlab).
    Simply replace <strong class="url-provider">gitlab.com</strong> in the URL with your provider's domain.</p>

  <p>For sake of caching, on every request the latest commit hash is fetched through the relevant VCS provider's public
    API. If there's a cache miss, the app will respond with status 202 (Accepted), meaning the lines will be
  counted in the background. The latest cache at that point will also be returned, if present.</p>

  <p>If you (the caller) happen to know the latest commit hash, you can speed up the cache check by passing it in
  in the <span class="url-param">latest_commit</span> URL parameter:</p>

  <code class="url"><span class="url-method">GET</span>
    <span class="url-domain"><%= @host %></span>/api/loc/<span class="url-provider">gitlab.com</span>/
    <span class="url-user unspace">koel</span>/<span class="url-repo">loculator</span>?
    <span class="url-param unspace">latest_commit=1709cf9e42d91bf14d958f8a4a4c7d24f2170e2c</span>
  </code>

  <p>Calls to the same endpoint after receiving status 202 will instantly return the same results, so long as
  the counting job is running (or queued). Exponential backoff is recommended for checking if counting is complete.
  A 200 response means the data is the latest.
  </p>

  <h3>Private projects</h3>

  <p>To allow LoCulator to clone private repos, you should add its public SSH key with read-only permissions
    to your VCS account. Guides to do this:
    <a href="https://docs.github.com/en/enterprise/2.15/user/articles/adding-a-new-ssh-key-to-your-github-account">GitHub</a>,
    <a href="https://support.atlassian.com/bitbucket-cloud/docs/set-up-an-ssh-key/">BitBucket</a>, and
    <a href="https://docs.gitlab.com/ee/ssh/#adding-an-ssh-key-to-your-gitlab-account">GitLab</a>.</p>

  <textarea readonly style="width: 100%; height: 84px;"><%= @public_key %>
  </textarea>

  <p>Then when you make a request, add the <strong class="url-param">private</strong> parameter. This will force SSH.</p>

  <code class="url"><span class="url-method">GET</span>
    <span class="url-domain"><%= @host %></span>/api/loc/<span class="url-provider">github.com</span>/
    <span class="url-user unspace">someone</span>/<span class="url-repo">somerepo</span>?
    <span class="url-param unspace">private=true</span>
  </code>

  <p>Note that there's no auto caching for private repos. You're welcome to make a PR if you want this feature!<br/>
  For now, the app will always trust what you specify as the latest commit hash for private repos. If omitted, the cache will be returned and no job will be queued.
  </p>

</div>

<%= render 'layouts/footer' %>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.lang-json').forEach((block) => {
            hljs.highlightBlock(block);
        });
    });
</script>
