body {
    font-family: sans-serif;
}

.content {
    max-width: 70vw;
    margin: 24px auto;
    padding: 12px 36px 10vh;
    /* card effects */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card {
    /* card effects */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 12px 24px;
}

.subtitle {
    font-weight: bold;
    font-style: italic;
}

.url {
    font-size: 1.3em;
    display: inline;
}
.url-provider {
    color: blue;
}
.url-method {
    color: orange;
}
.url-domain {
    color: darkgray;
}
.url-user {
    color: green;
}
.url-repo {
    color: #730E15;
}
.url-param {
    color: blueviolet;
}
.unspace {
    margin-left: -10px;
}

#demo-url {
    font-family: monospace;
    width: 100%;
}
#demo-btn {
    float: right;
    margin-left: 8px;
}
#demo-json {
    font-family: monospace;
    width: 100%;
}

.muted {
    font-size: 0.8em;
    color: darkgray;
}

#demo-spinner {
    display: none;
    position: absolute;
    margin: 30px 12px;
}